<div class="container-fluid">
    <div class="row row-cols-5 py-4">
        <div class="col">
            <div class="card mt-3">
                <div class="card-header">
                    <span id="idLokasi">x-lokasi-x</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <h5 id="jenisDaftar ">x-jenis-daftar-x</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span id="namaJenazah">x-nama-jenazah-x</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span id="tglWafat">x-tgl-wafat-x</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span id="tglMakam">x-tgl-makam-x</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span id="namaAhliWaris">x-nama-ahli-waris-x</span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col border text-center">
                            <a href="/#">
                                <button type="button" class="btn btn-primary text-center form-control">Pilih</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/admin-layout.js" onload="document.getElementById('dataMakam').classList.add('menu-visited')"></script>