<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Kode Daftar
                        </th>
                        <th>
                            Nama Jenazah
                        </th>
                        <th>
                            Tgl Lahir
                        </th>
                        <th>
                            Lahir
                        </th>
                        <th>
                            Kelamin
                        </th>
                        <th>
                            Agama
                        </th>
                        <th>
                            Alamat
                        </th>
                        <th>
                            Wafat
                        </th>
                        <th>
                            Tgl Makam
                        </th>
                        <th>
                            KTP
                        </th>
                        <th>
                            KK
                        </th>
                        <th>
                            Surat Meninggal
                        </th>
                        <th>
                            Kode Daftar
                        </th>
                        <th>
                            Kode Daftar
                        </th>
                        <th>
                            Kode Daftar
                        </th>
                        <th>
                            Kode Daftar
                        </th>
                        <th>
                            Kode Daftar
                        </th>
                        <th>
                            Kode Daftar
                        </th>
                        <th>
                            Kode Daftar
                        </th>
                        <th>
                            Kode Daftar
                        </th>
                        <th>
                            Kode Daftar
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script src="/js/admin-layout.js" onload="document.getElementById('btnPendaftaran').classList.add('menu-visited')"></script>