<!-- Screen 1 -->
<div class="size-per-screen first-screen py-auto">
    <div class="container container-size ">
        <div class="row justify-content-center ">
            <div class="col-4  ">
                <div class="row my-3">
                    <h1 style="color: white">Simplify, optimize, and take control of the funeral process</h1>
                </div>
                <!-- <div class="row mb-4">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos blanditiis, velit sit dolores, saepe quidem obcaecati ex voluptatem praesentium repudiandae iste quis, earum quae officia soluta quasi magnam! Consequatur, ab.
                </div> -->
                <div class="row ">
                    <a href="/register">
                        <button class="btn btn-outline-light" style="width: 120px;">Daftar</button>
                    </a>
                </div>
            </div>
            <div class="col-6">
                <div class="bg-dark border" style="height: 400px;"></div>
            </div>
        </div>
    </div>
</div>

<!-- Screen 2 -->
<div class="size-per-screen second-screen">
    <div class="container container-size ">
        <div class="row justify-content-center ">
            <div class="col ">
                <div class="row justify-content-center">
                    <h1 style="color: #00B894">Prosedur Pemakaman</h1>
                </div>
                <div class="row justify-content-center ">
                    <p class="text-center my-4" style="color: #00B894">
                        Menyederhanakan proses pemakaman merupakan salah satutujuan dari Kuburin. Berikut merupakan prosedur pemakaman dengan menggunakan kuburin
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col">
                <div class="bg-dark border" style="height: 600px;"></div>
            </div>
        </div>
    </div>
</div>

<!-- Screen 3 -->
<div class="size-per-screen third-screen">
    <div class="container container-size ">
        <div class="row justify-content-center ">
            <div class="col">
                <div class="row justify-content-center">
                    <h1 style="color: white">Infografis</h1>
                </div>
                <div class="row justify-content-center ">
                    <p class="text-center my-4 text-white">
                        Di dalam kehidupan pasti juga ada kematian, setiap hari jumlah orang yang terlahir didunia terus bertambah diikuti dengan kematian seseorang. Berikut merupakan infografis orang yang meninggal setiap harinya.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div class="bg-dark border" style="height: 500px;"></div>
            </div>
        </div>
    </div>
</div>

<!-- Screen 4 -->
<div class="fourth-screen">
    <div class="container  font-white">
        <div class="row justify-content-between">
            <div class="col-3 mr-4 ">
                <div class="row my-3">
                    <h1>Alamat</h1>
                </div>
                <div class="row mb-4 text-justify">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos blanditiis, velit sit dolores, saepe quidem obcaecati ex voluptatem praesentium repudiandae iste quis
                </div>
            </div>
            <div class="col-3 mx-4 ">
                <div class="row my-3">
                    <h1>Sosial Media</h1>
                </div>
                <div class="row my-3">
                    <a href="#" class="font-white">facebook</a>
                </div>
                <div class="row my-3">
                    <a href="#" class="font-white">instagram</a>
                </div>
                <div class="row my-3">
                    <a href="#" class="font-white">twitter</a>
                </div>
            </div>
            <div class="col-3 ml-4 ">
                <div class="row my-3">
                    <h1>About Us</h1>
                </div>
                <div class="row mb-4 text-justify">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos blanditiis, velit sit dolores, saepe quidem obcaecati ex voluptatem praesentium repudiandae iste quis
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Get user current location
    // function geoFindMe() {

    // const status = document.querySelector('#status');
    // const mapLink = document.querySelector('#map-link');

    // mapLink.href = '';
    // mapLink.textContent = '';

    // function success(position) {
    //     const latitude  = position.coords.latitude;
    //     const longitude = position.coords.longitude;

    //     status.textContent = '';
    //     mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
    //     mapLink.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`;
    // }

    // function error() {
    //     status.textContent = 'Unable to retrieve your location';
    // }

    // if(!navigator.geolocation) {
    //     status.textContent = 'Geolocation is not supported by your browser';
    // } else {
    //     status.textContent = 'Locating…';
    //     navigator.geolocation.getCurrentPosition(success, error);
    // }

    // }

    // document.querySelector('#find-me').addEventListener('click', geoFindMe);
</script>