<div class="container ">
    <div class="row justify-content-center my-4 ">
        <h1 class="font-header">Kontak Kami</h1>
    </div>
    <div class="row justify-content-center big-top-border pb-4">
        <div class="col-10">
            <form action="" method="post">
                <div class="col-8 py-3 mx-auto">
                    <div class="row mt-4">
                        <div class="col-6">
                            <b><label for="nama">Nama</label></b>
                        </div>
                        <div class="col">
                            <b><label for="email">Email</label></b>
                        </div>
                    </div>
                    <div class="row justify-content-center  ">
                        <div class="col-6">
                            <input type="text" class="form-control" id="nama" required>
                        </div>
                        <div class="col">
                            <input type="email" class="form-control" id="email" required>
                        </div>
                    </div>
                    <div class="row  ">
                        <div class="col-6">
                            <b><label for="subjek">Subjek</label></b>
                        </div>
                    </div>
                    <div class="row justify-content-start  ">
                        <div class="col-6">
                            <input type="text" class="form-control" id="subjek" required>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-6">
                            <b><label for="pesan">Pesan</label></b>
                        </div>
                    </div>
                    <div class="row" style="min-height: 300px;">
                        <div class="col">
                            <textarea name="pesan" id="pesan" class="textarea-kontak form-control" style="height: 100%;" required></textarea>
                        </div>
                    </div>
                    <div class="row mt-4 justify-content-center">
                            <button type="submit" class="btn-navbar px-4 py-2 mx-auto">Kirim</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>