<div class="container ">
    <div class="row justify-content-center login-margin">
        <div class="col-4 big-top-border">
            <div class="row justify-content-center my-4">
                <h1 class="font-header">Login</h1>
            </div>
            <form action="" method="post">
                <div class="col-7 py-3 mx-auto">
                    <% if (notification == true) { %>
                        <div class="alert alert-danger">
                            <b>
                                Email atau Password Salah!
                            </b>
                        </div>
                    <% } %>
                    <div class="row mt-4">
                        <h4><label for="email" class="form-email">Email</label></h4>
                    </div>
                    <div class="row justify-content-center">
                        <input type="email" class="form-control" name="email" id="email" required>
                    </div>
                    <div class="row mt-4">
                        <h4><label for="password" class="form-password">Password</label></h4>
                    </div>
                    <div class="row mb-4 justify-content-center">
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>
                    <div class="row my-4 justify-content-center">
                        <button type="submit" class="btn btn-outline-success px-4">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>